doctype html
html
  head
    title Dance the Art Genome: Algorithms
    link( type='text/css', rel='stylesheet', href=('/assets/algorithms' + sd.CSS_EXT) )
  body
    #wrap
      #inner-wrap
        #about
          h1
            | Dance the Art Genome
          p
            | Choreography by
            a(href = 'https://twitter.com/sicchio')&nbsp;Kate Sicchio: @sicchio
          p
            | Programming by
            a(href = 'https://twitter.com/dblockdotorg')&nbsp;Daniel Doubrovkine: @dblockdotorg
          p
            | Open Source at
            a(href = 'https://github.com/dblock/dance-the-art-genome')&nbsp;github.com/dblock/dance-the-art-genome
          p
            | Performed by
            a(href = '')&nbsp;Kim Machaby
