doctype html
html
  head
    title Dance the Art Genome: Algorithms
    link( type='text/css', rel='stylesheet', href=('/assets/algorithms' + sd.CSS_EXT) )
  body
    #wrap
      #inner-wrap
        #about
          | Dance the Art Genome
          | &nbsp; @
          a(href = 'https://twitter.com/sicchio') sicchio
          | &nbsp; @
          a(href = 'https://twitter.com/dblockdotorg') dblockdotorg
          | &nbsp;
          p
            a(href = 'https://github.com/dblock/dance-the-art-genome') github.com/dblock/dance-the-art-genome
