@import '../../../node_modules/nib'
@import '../../../node_modules/artsy-ezel-components/stylus_lib/typography'

global-reset()

body
  color black
  padding 10px 100px
  line-height 1.4em

html, body
  height 100%
  display block

a
  color black

h1
  color black

textarea
  display: block
  background: none
  width: 100%
  padding: 10px
  font-size: 230%
  border: 0
  margin: 0 auto
  text-align: center
  font-family: "Futura"
  resize: none

#wrap
  height: 100%
  width: 100%
  display: table

#inner-wrap
  display: table-cell
  vertical-align: middle
  width: 100%

#numbers
  margin: none
  top: 2%
  color: #EEE
  .selected
    color: #999

#about
  font-size: 20px
  font-family: "Futura"
  padding-left: 150px
  a
    text-decoration: none
