doctype html
html
  head
    title Dance the Art Genome
    link( type='text/css', rel='stylesheet', href=('/assets/dance' + sd.CSS_EXT) )
  body
    h1 Dance the Art Genome!
    ul
      li
        a( href='/electronica' ) Generative Electronica
        |  by @
        a( target='_blank' href='https://github.com/craigspaeth' ) craigspaeth
